<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie przepisu</title>

</head>
<body>

<form action="/add" method="post" th:object="${newRecipe}">

    <input type="text" th:field="*{name}"/>
    <textarea rows="10" th:field="*{ingredients}"/>
    <textarea rows="10" th:field="*{equipment}"/>
    <textarea rows="10" th:field="*{procedure}"/>


    <select th:field="*{category}">

        <option th:each="cat: ${category}"
                th:value="${cat.id}"
                th:text="${cat.name}">
        </option>

    </select>

    <input type="submit" value="Dodaj!"/><br/>

    <a href="/">Anuluj</a>

</form>

</body>
</html>