<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<div style="width: 90%; margin:30px">

<div class="space">
    <h4 style=" font-weight: bold; text-align: center" >Szczeóły przygotowania</h4>
    <ul class="list-group list-group-flush" th:object="${result}">
        <li class="list-group-item" th:text="*{name}">Name</li><br/>
        <p style="font-weight: bold">Narzędzia</p>
        <li class="list-group-item" th:text="*{equipment}">Name</li><br/>
        <p style="font-weight: bold">Składniki</p>
        <li class="list-group-item" th:text="*{ingredients}">Name</li><br/>
        <p style="font-weight: bold">Kroki</p>
        <li class="list-group-item" th:text="*{procedure}">Name</li><br/>
        <a style="color: green" th:href="|/edit/${result.id}|">Edytuj</a><br/>
        <a style="color: blue" th:href="|/like/${result.id}|">Like</a>

    </ul><br/>
</div>
<a href="/">Powrót</a>
</div>
</body>
</html>