<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Deails</title>
</head>
<body>

<H3>Product details</H3>


<ul>
    <li th:object="${result}">
<!--        <textarea th:text="*{name}" placeholder="Nazwa"></textarea> <br/>-->
        <span th:text="*{ingredients}"> </span><br/>
        <a style="color: green" th:href="|/edit/${result.id}|">Edytuj</a>

    </li>
</ul>




<a href="/">Powrót</a>

</body>
</html>