<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head th:include="fragments :: head">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Przepisy</title>
</head>
<body class="common">
<div th:replace="fragments :: header"></div>

<ul class="list-group list-group-flush" th:object="${category}">
    <li class="list-group-item" th:text="*{description}"></li><br/>
</ul><br/>

<ul class="list-group list-group-flush" th:object="${category}">
    <h3 class="list-group-item" th:text="*{name}"></h3><br/>
</ul><br/>


<ul>
    <li th:each="display: ${displaySelected}">
        <a th:href="|/recipe/${display.id}|" th:text="${display.name}"></a>
        <a style="color: green; font-size: 13px; font-style: italic;" th:href="|/recipe/${display.id}|" th:text="|Liked:${display.likeNumber}|"></a>
        <a style="color: red" th:href="|/delete/${display.id}|">Usuń</a>

    </li>

</ul>

<a href="/">Powrót</a>
</div>
</body>
</html>