<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Przepisy</title>
</head>
<body class="common">

<h3> Przepisy </h3>

<ul>
    <li th:each="display: ${displaySelected}">
        <a th:href="|/recipe/${display.id}|" th:text="${display.name}"></a>
        <a style="color: red" th:href="|/delete/${display.id}|">Usuń</a>

    </li>

</ul>

<ul>
    <li th:each="recipe: ${allRecipe}">
        <a th:href="|/recipe/${recipe.id}|" th:text="${recipe.name}"></a>
        <a style="color: red" th:href="|/delete/${recipe.id}|">Usuń</a>
    </li>

</ul>


<a href="/">Powrót</a>
</div>
</body>
</html>