<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Książka kucharska</title>
</head>
<body class="common">

<h4>Witaj na stronie z najlepszymi przepisami</h4>

<ul>
    <h3>Wybierz typ potrawy</h3>
    <li th:each="cat: ${category}">
    <a th:href="|/display/${cat.id}|" th:text="${cat.name}"></a>
    </li>

</ul>

<a href="/all/">Wyświetl wszystkie</a>

<ul>
    <h3>Najpopularniejsze dania</h3>
    <li th:each="popular: ${mostPolular}">
        <span style="font-weight:bold " th:text="${popular.name}"></span>
        <a th:href="|/recipe/${popular.id}">Sprawdź!</a>
    </li>

</ul>

<a style="font-weight: bold" href="/add">Dodaj własny przepis</a>

</body>
</html>