<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
<div style="width: 90%; margin: 30px">
<h2>Witaj na stronie logowania</h2>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Nazwa użytkownika"/><br>
        <input type="password" name="password" placeholder="Hasło"/><br>
        <input type="submit" value="Zaloguj!">

    </form>


</div>
</body>
</html>